.account-form-container form,
.follow-up-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  flex-direction: column;
}
.account-form-container,
.follow-up-container {
  text-align: center;
}
.account-form,
.follow-up-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 75%;
}
