.follower-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 15px;
}

.users-container {
  background: #d9d9d9;
  padding: 25px 0;
}

.follower-row .user-item {
  display: flex;
  background: white;
  min-width: 300px;
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0 0 2px 0px white;
}
.user-avatar {
  background: #d9d9d9;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.forward-arrow,
.backward-arrow {
  width: 100px;
  height: 3px;
  border: 1px solid;
}

.forward-arrow {
  border-color: #d59696;
}

.backward-arrow {
  border-color: #93c08c;
}

.backward-arrow::after {
  width: 10px;
  height: 10px;
  background: #93c08c;
}

.arrow-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 25px;
}

.arrow .tip {
  position: relative;
  width: 0;
  height: 0;
  border: 15px solid transparent;
}

.backward-arrow .tip {
  left: -5%;
  top: -15px;
  border-left: 0px;
  border-right: 8px solid #93c08c;
}
.forward-arrow .tip {
  left: 100%;
  top: -15px;
  border-right: 0px;
  border-left: 8px solid #d59696;
}
