.account-form-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  flex-direction: column;
}
.account-form-container {
  text-align: center;
}
.account-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 75%;
}
